body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}
#sidebar{
    display: none;
    padding: 2%;
}
#sidebar, #main{
    height: 90vh;
}
#navbar{
    background-color:#0a0f3d;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 13vh;
    
}
#logo_ave{
    height: 9vh;
}
.contenedor-item{
    display:flex;
    justify-content: center;
    align-items: center;
}
.icono{
    font-weight: 100;
    font-size: 30px;
}
.opt-nav{
    margin-left: 5%;
    font-size: 19px;
   
}
.titulo{
    font-size: 25px;
}
#menu{
    margin-left: 40%;
}
.funcion{
    display: block;
    margin-left: 15%;
}
#main{
    padding: 2%;
}
.con-opt-main{
    border: #0a0f3d 2px solid;
    color: #0a0f3d;
}
.opt-main{
    background-color: #0a0f3d;
    padding-left: 90px;
}
.con-opt{
    margin-top: 1%;
    margin-left: 10%;
}
#cont-info,#cont-areas{
    padding-bottom: 2%;
    border-bottom: #848484 1px solid;
}
.grafica{
    border: #cacaca 1px solid;
    border-radius: 20px;
    padding: 1%;
}
#agregar,#descargar{
    background-color: #0a0f3d;
}
#tabla{
    margin-left: 16%;
}


.folder{
    -webkit-text-stroke: 0.5px #ffffff;
}

.etiqueta{
    -webkit-text-stroke: 1px #0a0f3d;
}
.descarga{
    margin-left: 80%;
}
@media (max-width: 1000px){
    .opt-main{
        padding-left: 55px;
    }
    #tabla{
        margin-left: 2%;
    }
}
@media (max-width: 600px){
    .opt-nav{
        margin-left: 5%;
        font-size: 12px;
    }
    .titulo{
        font-size: 15px;
    }
    .icono,#menu{
        font-size: 20px;
    }
}