
!.gitignore

./files/Administracion_Financiera
./files/Administración_y_Gestión_Academica
./files/Currículo
./files/Docentes
./files/Estudiantes
./files/Infraestructura
./files/Investigacion_e_Interaccion_Social
./files/Normas_Jurídicas_e_Institucionales
./files/Recursos_Educativos